[Desktop Entry]
Version=0.0.4
Type=Application
Name=ash-store
Comment=ASH Store
Exec=/usr/bin/ash
Icon=/usr/share/pixmaps/ash-store.png
Terminal=false
Categories=Utility;
